body {
    background: #eef;
}

#content {
	margin: 20px;
}

.profilepic {
	float: left;
}

.tweet {
	clear:both;
}

.stripe1 {
	background: #fff;
}
.stripe2 {
	background: #eef;
}

.profilepic, .tweet {
	height: 48px;
}

.profilepic {
	margin-right: 10px;
	width: 48px;
}

header {
	margin-bottom: 30px;
}

h1 {
	display: inline;
}

.searchbox {
	display: inline;
	margin-top: 20px;
	margin-left: 100px;
}

#tweets {
	background: #ccf;
	padding: 23px;
	border-radius: 15px;
	height: 480px;
}
